
<div class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h4 class="m-0">Historico de ventas</h4>
          </div>
         

      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Registro de ventas</h3>
      
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar">
      
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Folio</th>
                    <th>Cliente </th>
                    <th>Fecha</th>
                    <th>Detalle</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>183</td>
                    <td>Juan Lopez</td>
                    <td>10-08-2022</td>
                    
                    <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-xl">
                      Ver mas 
                    </button></td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
  </div>
</div>











  <div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Iron Body</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                 
                  <small class="float-right">Fecha: 10/08/2022</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                Cliente
                <address>
                  <strong>Juan Lopez</strong><br>
                  Telefono: 2711856095<br>
                </address>
              </div>
              <!-- /.col -->
              
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <b>Folio:</b><br>
                <b>00000</b>
              
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Folio venta</th>
                    <th>Productos</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Creatina Monohidratada</td>
                    <td>1</td>
                    <td>300</td>
                    <td>300</td>
                  </tr>
                  
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <!-- accepted payments column -->
              <div class="col-6">
                <p class="lead">Metodo de pago:</p>

                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                  Efectivo
                </p>
              </div>
              <!-- /.col -->
              <div class="col-6">
                <p class="lead">Monto de Venta </p>

                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th>Total:</th>
                      <td>$300.00</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              
              <div class="col-12">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <a target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
        
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
