<body class="hold-transition sidebar-mini">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">

          <br>
          <h1>Clientes</h1>

        </div>
        <!--Inicia buscador-->
        <div class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search"
            (keyup.enter)="buscarCliente(buscarTexto.value)" #buscarTexto>
          <button (click)="buscarCliente(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">
            Buscar
          </button>
        </div>
        <!--Termina buscador-->
      </div>
    </div>
  </section>
  <!--Boton para agregar Borrar ek url para que carge el icono -->
  <div class="cajaf">
    <a class="btn_roundf" title="Imprimir" alt="impirmir" data-toggle="modal" data-target=".bd-example-modal-lg"><i
        class="fa fa-plus"></i></a>

  </div>
  <!--CBoton para agregar-->
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg ">

      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Agregar cliente</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form role="form">
          <div class="form-row">
            <div class="form-group col-md-5">
              <label class="mr" for="inputEmail4">Nombre</label>
              <input type="text" class="form-control mr" id="inputEmail4" placeholder="Nombre(s)">
            </div>
            <div class="form-group col-md-5">
              <label class="mr" for="inputPassword4">Apellido Paterno</label>
              <input type="text" class="form-control mr" id="inputPassword4" placeholder="Apellido Paterno">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="mr" for="inputEmail4">Apellido Materno</label>
              <input type="text" class="form-control mr" id="inputEmail4" placeholder="Apellido Materno">
            </div>
            <div class="form-group col-md-4">
              <label class="mr" for="inputPassword4">Telefono</label>
              <input type="text" class="form-control mr" id="inputPassword4" placeholder="Telefono">
            </div>
          </div>

          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-md-3">
              <button class="btn btn-primary btn-block">Guardar</button>
              <br>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <section class="content" *ngIf="modal">
    <div class="card card-solid">
      <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor=" let c of clientes">
            <div class="card bg-light">
              <div class="card-header text-muted border-bottom-0">
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="ribbon-wrapper">
                    <div class="ribbon bg-{{c.Estatus}}">

                    </div>
                  </div>
                  <div class="col-7">
                    <h2 class="lead"><b>{{c.Nombre}} {{c.Apellido}}</b></h2>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <br>
                      <li class="small"><span class="fa-li"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        {{c.Telefono}}</li>
                      <br>
                      <li class="small"><span class="fa-li"><i class="fa fa-book" aria-hidden="true"></i></span>
                        Suscripcion: {{c.Suscripcion}} </li>
                      <br>
                      <li class="small"><span class="fa-li"><i class="fa fa-hourglass-end"
                            aria-hidden="true"></i></span> Fin Suscripcion: {{c.FinSus}} </li>
                    </ul>
                  </div>
                  <div class="col-5 text-center">
                    <img [src]="c.User" alt="" class="img-circle img-fluid">
                  </div>
                </div>
                <div class="col-12 text-right">
                  <a class="btn btn-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg1">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Editar
                  </a>
                </div>
              </div>
              <!--<div class="card-footer">
                      <div class="text-right">
                        <a href="#" class="btn btn-sm btn-primary">
                          <i class="fas fa-pencil-alt"></i> Editar
                        </a>
                      </div>
                    </div>-->
            </div>
          </div>
        </div>
      </div>

      <!-- /.card-footer -->
    </div>
  </section>


  <div *ngIf="buscador">
    <h1> Buscando:
      <small>
        {{termino}}
      </small>
    </h1>
    <hr>
    <div class="row animated fadeIn fast" *ngIf="payment.length == 0">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          No existen resultados con el término: {{ termino }}
        </div>
      </div>
    </div>
  </div>
  <!--Cuerpo de la tabla-->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" ">
          <th>
            #
          </th>
          <th class="text-center">
            Nombre
          </th>
          <th class="text-center">
            Apellido Paterno
          </th>
          <th class="text-center">
            Apellido Materno
          </th>

          <th class="text-center">
            Teléfono
          </th>

          <th class="text-center">
            Editar
          </th>
          <th class="text-center">
            Borrar
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let user of payment; let index=index">
            <th scope="row">{{index+1}}</th>
            <td class="text-center">
              {{user.nombre}}
            </td>
            <td class="text-center">
              {{user.p_Apellido}}
            </td>
            <td class="text-center">
              {{user.seg_Apellido}}
            </td>
            <td class="text-center">
              {{user.telefono}}
            </td>


            <td class="text-center">
              <button type="button" class="btn btn-info btn-sm" onclick="openEditar()"><i
                  class="fas fa-pencil-alt"></i></button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btn-sm" onclick="openEditar()"><i
                  class="fa fa-trash"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</body>